#slideshow img{
    height: 300px;
    width: 100%;
}
#buttons_nav{
    display: flex;
    justify-content:center;
    padding: 10px 0;
}

#buttons_nav button{
    border-radius: 50%;
    margin-left: 5px;
    width: 10px;
    height: 10px;
    border: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: rgba(0,0,0,.3);
    margin: 0px 5px

}


/* -----------Offer------------------ */


#offer{
    background-color: rgb(236,236,236);
    width: 80%;
    margin: auto;
    
}
#demo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20px;
    
}
#offer img{
    width: 100%;
    border-radius: 2%;
}
.advert{
    width: 80%;
    border-radius: 2%;
    margin-left: 10%;
}

#rahul{
    width: 80%;
    display: flex;
    margin-left: 10%;
    justify-content: space-between;
    overflow: auto;
    white-space: nowrap;
    gap: 95px;
}
#rahul div img{
    width: 382px;
    height: 215px;
    border-radius: 2%;
}

#books{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 80%;
    margin-left: 10%;
    gap: 20px;
}

#grd{
    display: flex;
    width: 624px;
}
#grd div img{
    width: 212px;
    height: 251px;
    padding: 15px;
}

#books div:last-child{
    padding: 15px 15px 0px 0px;
    background-color: white;
}
#collection{
    background-color: rgb(240,241,247);
}
#books div{
    background-color: white;
}