*{
  border: 2px solid blueviolet;
}
body, html {
    overflow-x: visible;
    font-family: BrandonTextWeb-Regular,Helvetica Neue, Helvetica, Roboto, Arial, sans-serif
  }
  body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143; color: #333; background-color: #fff
  }
  body { max-width: 100% }
  body { margin: 0 }

       #m_head{
          width: 100%;
          /* height: 50px; */
          background-color: #393a3b;
          display: flex;
          gap: 50px;
          /* color: aliceblue; */
          justify-content:center;
         position: fixed;
      }

      #m_head > button{

          width: auto;
          height: fit-content;
          padding: 2px;
          margin: 15px;
          background-color: #393a3b;
          border: none;
          color: aliceblue;
          font-size: 105%;  
          text-align: center;          
      }
      #slid_show{

        width: 100%;
        margin-top: 100px;
      }

      #slid_show>img {

        width: 100%;
        /* height: 200px; */
          margin:2% 0;
           appearance:auto;

      }

      #div1{
        background-color: #309dbf;
        text-align: center;
        padding:15px ;
        width: 80%;
        margin :-15px auto ;
        
        font-size: 155%;
      }

/* this is not woking : resize it's height */
      #div2{
        width: 80%;
        margin: 0  auto 20% ;
        
      }

      #experts {
        /* width: 90%; */
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:5% ;
        margin: auto;
        height: fit-content;
      }

      #experts > div{
        backface-visibility: visible;
        background-position: center; 
        background-repeat: no-repeat; 
        background-size:contain; 
        /* background-repeat: repeat-x; */
        background-color: #e0dfd9;
        border-radius: 8px;
      }

      #div3 {
        width: 80%;
        margin: auto;
        display: flex;
        /* text-align: center; */
        justify-content:space-between;
        background-color:#309dbf ;
        font-size:150%;
        padding: 15px;
        border-radius: 5px;
      }

      #div3 > button{
        width: fit-content;
        height: fit-content;
        margin: auto 5%;
        /* block-size: 150%; */
        background-color: deeppink;
        border-radius: 10px;
      }

      #div4{
        background-color: #cbe6ff;
        text-align: center;
       
      }

      #packs{
        width: 60%;
        margin: auto;
        justify-content: space-around;
        color: #988a84;
      }
      #packs >div >img{
        width: 15px;
        height: 15px;
        padding: 2px;
        margin: auto;
      }
      .doFlex{
        display: flex;
        margin: auto;
        justify-content: space-around;
        gap: 2%;
        text-align: left;
      }

      .doFlex>h2{
        color: deeppink;
      }
    .img{
      width: 100%;
    }