#nav{
    height:80px;
    width:1333px;
    background-color: dimgrey;
    justify-content: center;
    color:white;
    text-align: center;
    justify-content: space-evenly;
    display:flex;
}
.img{
    height:250px;
    width:1333px;
}
 
#p1{
    margin-left: 50px;
  }
  #lab{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    margin-left: 50px;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .img1{
    height:250px;
    width:200px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: darkslategray;
  }
  #price{
      display:flex;
  }